* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    background-color: rgb(255, 250, 250);
    color: rgb(1, 1, 1);
}

#preloader{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#main-content{
    display: block;
}

header{
   position: fixed;
   z-index: 1000;
   /*background-color: black;*/
}

.nav-bar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4%;
    width: 100%;
    max-width: 100%;
    overflow: hidden; /* Prevent overflow */
    z-index: 1000;
    background-color: none;
    border-radius: 0px 0px 10px 10px;
}

.img-div {
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 3px;
}

.img-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.img-div h1{
    margin-left: 10px;
}

.nav_menu {
    flex-grow: 1;
    display: flex;
    justify-content: center; /* Centers the menu items */
    text-wrap: nowrap;
    flex-wrap: nowrap;
}

.nav_menu ul {
    list-style: none;
    display: flex;
    padding: 0;
    text-wrap: nowrap;
    flex-wrap: nowrap;
}

.nav_item {
    margin: 0 15px; /* Adjust the margins between items */
    text-wrap: nowrap;
    flex-wrap: nowrap;
}

.nav_item a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.social_nav {
    display: flex;
    gap: 20px;
}

.soclogo {
    width: 20px;
    height: 20px;
}

.link {
    display: inline-block;
    border-radius: 50%;

}

.soclogo:hover{
    width: 22px;
    height: 22px;
}

.mob-arrow{
    display: none;
    rotate: 270deg;
}

.menuops{
    display: none;
}

.nav_link{
    text-decoration: none;
    color: black;
    transition: color 1s ease;
}

.nav_link:hover{
    color: rgb(240, 63, 63);
}

.nav_link.active{
    color: rgb(240, 11, 11);
    font-weight:normal;
    border-bottom: 2px solid rgb(255, 255, 255);
    transition: border-bottom 1s ease-in-out ;
   
}

.menuops{
    display: none;
}

.menu_icons{
    display: none;
}

/*hero section #home*/

.home{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    padding-right: 5px;
    
}

.homediv1{
    width: 40%;
    height: 100vh;
    
    justify-items: center;
    align-content: center;

}

.img-container{
    width:60%;
    border-radius: 10%;
    overflow: hidden;
    display: flex;
    box-shadow: 0 0 100px rgba(45, 45, 45, 0.704);
}

.img-container img{
    width:100%;
}

.homediv2{
    width: 60%;
    height: 100vh;
    justify-items: left;
    align-content: center; 
}

.homediv2 h1{
    font-size: 3rem;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

.container-font{
    color:rgb(0, 0, 0);
    font-family: 'Indie Flower',cursive;
    display: flex;
    place-content: left;
    justify-items: left;
    align-content:first baseline;
    font-size: 7rem;
}

.container-font h1{
    font-family: 'Poppins', sans-serif;
    padding-top: 40px;
}

.prakash{
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    transform: translate(0%,0%);
    width:30rem;

}

.prakash .letter{
    text-shadow: 0 0 .1px #000000da, 0 0 0.5px #000000da , 0 0 0.25em #000000da;
    mix-blend-mode: screen;

}

.about{
    height: 100vh;
    width: 100%;
    

}

.skills{
    height: 100vh;
    width: 100%;

}


@media screen and (max-width:930px){

    .nav_menu {
        display: none;
    }

    .mob-arrow{
        display: block;
        width: 30px;
        position: fixed;
        margin-left: 1px;
        margin-top: 1%;
        z-index: 1000;
    }


    .rotated{
        transform: rotate(180deg);
        transition: transform 0.3s ease;
    }

    .mobmenu{
        display: flex;
        margin-left: 5px;
        position:relative;
        z-index:1000
    }

    .menuops{
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 10px;
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.956);
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 8px rgba(116, 116, 116, 0.512); /* Soft shadow */
        width: fit-content; /* Fits to content width */
        border: 1px solid rgba(192, 180, 180, 0.2);
        margin-left: 4px;
        margin-top: 8%;
        opacity: 0;
        position: fixed;
        z-index: 1000;
    }

    .menu_icons{
        display: inline-block;
        padding:0;
        margin:0;
    }

    .menulogo{
        width:20px;
        height:20px;
    }

    .menulogo:hover{
        width: 23px;
        height: 23px;
    }

    .social_nav{
        margin-right: 2px;
    }
    .soclogo{
        width: 17px;
    }


    /*home*/

    .home{
        flex-direction: column;
        margin-top: 10%;
        height: 100vh;
        width: 100%;
        display: flex;

        border: 1px solid red;
    }

    .homediv1{
        width: 100%; 
         
    }

    .homediv2{
        
        width: 100%;
        justify-items: center;
        align-content:normal; 
        margin-top: 0px;
       
    }

    .homediv2 h1{
        font-size: 1.5rem;
        margin-bottom: 10px;
        padding-bottom: 15px;
    }

    .container-font{
        font-size: 2rem;
    }
    
    .prakash{
        font-size: 3rem;  
    }
    
    .img-container{
        width:50%;
    }


}